.page {
  height: 100%;
  font-family: $fontFamily;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: calc(#{$minWidth} * 1px);
  min-height: 100%;
  font-size: $fontSize;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 calc(#{$containerPadding} / 2 * 1px);
  max-width: calc($containerWidth * 1px);
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
